/*body {  background-color: #0000FF;
	color: #FFFFFF;}*/
.header h1   {
	position: relative;
	top: 26px;
	left:10px;
	padding-bottom:50px;
     }
.header img{
	float: left;
	width: 100px;
	height: 100px;
}
#wrapper {
	width: 80%;
	height: 80%;
	min-width: 700px;
	min-height: 350px;
	margin: auto;
	background-color: #b0b0b0;
}
#FormWrapper{
	padding-left:15px;

}
