#body_bg
{ 
background-color:#B5EEFF; 
}

#login-form{ 

background:#E7F5F5; 
border: 6 px solid #eeeee; 
padding:15px 15px;
 width:300px; 
 border-radius:20px; 
}

.header img{
	float: left;
	width: 100px;
	height: 100px;
}